doctype xml
ModMetaData
  name=name
  description=description
  author=author
  packageId=packageId
  supportedVersions
    li 1.3
  loadAfter
    li UnlimitedHugs.HugsLib
  modDependencies
    li
      packageId UnlimitedHugs.HugsLib
      displayName HugsLib
      steamWorkshopUrl steam://url/CommunityFilePage/818773962
